*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' 'sans-serif';
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
    color: #373737;
}
.navbar a.navbar-brand{
    color: rgb(1, 69, 96);
    font-size: 24px;
    font-weight: 700;
}
.navbar a.navbar-brand span{
    color: rgb(255, 42, 0);
}
.navbar .navbar-nav .nav-item a{
    color: #373737;
    opacity: 50%;
    margin-left: 20px;
    position: relative;
}
.navbar .navbar-nav .nav-item a::after{
content: '';
width: 0;
height: 3px;
background: #90b5d3;
position: absolute;
left: 0;
bottom: -3px;

}
.navbar .navbar-nav .nav-item a:hover::after{
    width: 100%;
    color: rgb(1, 69, 96);
    opacity: 100%;
    transition: 0.5s;
}

.container-fluid{
    padding: 10px 10%;
}
body{
    width: 100%;
    height: 100vh;
    background-image: URL("images/background\ 2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

   /* Landing */

.landing-sec h4{
font-size: 20px;
font-weight: 500;
}
.landing-sec h1{
font-size: 50px;
font-weight:700;
}
.landing-sec h1 span{
color: #90b5d3;
}
.landing-sec{
    margin-top: 15%;
    margin-left: 10%;
}
.landing-sec p{
    color: #373737;
    font-size: 24px;
}
.btn-primary{
background-color:rgb(1, 69, 96) ;
border: none;
}
.btn-outline-primary{
  color: rgb(1, 69, 96) ;
  border-color: rgb(1, 69, 96) ;  
}

 /*--------------- carousal --------------*/

#carouselExampleCaptions{
margin-top: 15%;
}


  /*--------------- about --------------*/

#about{
    color: #373737;
    margin: 10%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img{
    border-radius: 15px;
    margin-left: 10%;
   
}
.about-col-2{
    flex-basis: 60%;
}

.sub-title{
        font-size: 50px;
        font-weight: 700;
        color: #90b5d3;
    }
    .tab-titles{
        display: flex;
        margin: 10px 0 40px;
    }
    .tab-contents{
        font-size: 14px;
        line-height: 180%;
    }
    
    .tab-links{
        margin-right: 50px;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        position: relative;
    }
    .tab-links::after{
        content:'';
        width: 0;
        height: 3px;
        background: #489fd8;
        position: absolute;
        left: 0;
        bottom: -8px;
        transition: 0.5s; 
    }
    .tab-links.active-link::after{
        width: 50%;
    }

    .tab-contents ul li{
        margin-top: 1%;
        list-style: none;
        margin-left: -4.5%;
    }

    .tab-contents ul li span{
        color: #5098c8;
        font-weight: 600;
    }

    .tab-contents{
        display: none;
    }
   
    .tab-contents.active-tab{
        display: block;
    }


      /*--------------- portfolio--------------*/

      .portfolio{
        margin-top: 0%;
        margin-left: 10%;
        font-size: 50px;
        font-weight: 700;
        color: #90b5d3;
      }
      .card{
        margin-top: 4%;
    margin-left: 10%;
      }

    .card-title{
        font-size: 14px;
        font-weight: 400;
        color: #3b87b9;
    }
    .card-text{
        text-align: center;
        font-style: italic;
    }
    .card-text span{
        font-weight: 700;
        font-size: 18px;
        font-style: normal;
    }
    .btn-view{
        background-color: rgb(1, 69, 96);
        color: #fff;
        width: 250px;
        margin-bottom: 2%;
    }

     /*--------------- portfolio--------------*/

    #services{
     padding: 30px 0;
    }

    .services-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }
    .services-list div{
        background: #d8d8d8;
        padding: 40px;
        font-size: 13px;
        font-weight: 300;
        border-radius: 15px;
        transition: background 0.5s, transform 0.5s;
    }
    .services-list div i{
        font-size: 50px;
        margin-bottom: 30px;
    }
    .services-list div h2{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .services-list div a{
        text-decoration: none;
        color: #373737;
        font-size: 12px;
        margin-top: 20px;
        display: inline-block;
    }
    .services-list div:hover{
        background: rgb(1, 69, 96);
        color: #fff;
        transform: translateY(-10px);
    }
    .services-list div a:hover{
        color: #fff;
    }
    .btn-seemore{
        display: block;
        margin: 50px 0;
        width: fit-content;
        border: 1px solid rgb(1, 69, 96);
        padding: 14px 50px;
        border-radius: 6px;
        text-decoration: none;
        color: rgb(1, 69, 96);

    }
    .btn-seemore:hover{
        background:rgb(1, 69, 96) ;
       transition: 0.5s;
       color: #fff;

    }

      /*--------------- contact--------------*/
      .contact-left{
        margin-top: 10%;
        flex-basis: 35%;
      }

      .contact-right{
        margin-top: 10%;
        flex-basis: 60%;
      }
      .contact-left p{
        margin-top: 30px;
      }
      .contact-left p i{
        color:rgb(1, 69, 96) ;
        margin-right: 15px;
        font-size: 25px;
      }
      .social-icons{
        margin-top: 30px;
      }
      .social-icons a{
        text-decoration: none;
        font-size: 30px;
        margin-right: 15px;
        color: #373737;
        display: inline-block;
        transition: transform 0.5s;
      }
      .social-icons a:hover{
        color: #90b5d3;
        transform: translateY(-5px);
      }

      .contact-right form{
width: 100%;
      }
    form input, form textarea{
        width: 100%;
        border: 0;
        outline: none;
        background: #d0d0d0;
        padding: 15px;
        margin: 15px 0;
        color: #373737;
        font-size: 18px;
        border-radius: 6px;
    }

    form.btn-seemore{
        padding: 14px 60px;
        font-size: 18px;
        margin-top: 20px;
        cursor: pointer;
    }

    
